*{
    margin: 0;
    padding: 0;
    font-family: inter;
}
.hr {
    border: 1px solid #000; 
    margin-bottom: 4px; 
    margin-top: 0px;
  }
/* nav  */
.logo{
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.nav-links li a{
    transition: all 300ms linear;
}
.nav-links li a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.info-link-1{
    visibility: hidden;
    opacity: 0;
}
/* banner  */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0%;
    
}
.banner-texts{
    max-width: 500px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0px;
}
.banner-end{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.4399999976158142px;
    text-align: left;

}
.banner-dates{
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 1.100000023841858px;
    text-align: left;

}
.badge{
    border: 1px solid black;
}
.b-img{
    max-width: 500px;
    height: 500px;
    padding: 0px;
    margin: 0px;
}
/* latest  */
.latest-card-text-2{
    font-size: 14px;
}
.badge-click:hover{
    background-color: #000;
    color: white;
}
/* popular  */
.popular-head{
    width: 86%;
}
.card-text{
    font-size: 10px;
}
.card-title{
    font-weight: 500;
}
.side-card-title{
    font-size: 16px;
    font-weight: 500;
}
.col a{
    color: #000;
    text-decoration: none;
}
/* responsive */
@media (max-width: 768px) {
    .info-link-1{
        visibility: visible;
        opacity: 1;
        
    }
    .info-link-2{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
        
    }

    .banner-texts {
        max-width: 100%;
        height: auto;
    }

    .b-img {
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .card{
        max-width: 100%;
        height: auto;
    }
    .latest-card-text-2{
        font-size: large;
        
    }
}